{% extends 'base.html' %}

{% load url from future %}

{% block title %}{{ beer.name }}{% endblock %}

{% block content %}
  <h1>{{ beer.name }}</h1>
  <h2>by <a href="{% url 'beerdb_brewer_detail' beer.brewer.slug %}">{{ beer.brewer.name }}</a></h2>
  
  {% if user_rating %}
    <h3>Your Rating</h3>
    <p>{{ user_rating.rating }}</p>
  {% endif %}
  
  <p><a href="{% url 'beerdb_beer_rate' beer.brewer.slug beer.slug %}">{% if user_rating %}Update your rating{% else %}Rate this beer{% endif %}</a></p>
  
  <h3>Ratings</h3>
  <ul>
    {% for user_rating in other_user_ratings %}
      {% ifchanged user_rating.rating %}
        {% if forloop.counter > 1 %}</ul></li>{% endif %}
        <li>{{ user_rating.rating }}<ul>
      {% endifchanged %}
      
      {# Print username #}
      <li><a href="{% url 'beerdb_user_detail' user_rating.user.username %}">{{ user_rating.user }}</a></li>
      
      {# Close list on last iteration #}
      {% if forloop.last %}</ul></li>{% endif %}
    {% empty %}
      <li><em>No ratings available</em></li>
    {% endfor %}
  </ul>
  
  <h3>Links</h3>
  <ul>
    {% for url in beer.url.all %}
      <li><a href="{{ url }}" rel="nofollow">{{ url.site.name }}</a></li>
    {% empty %}
      <li><em>No links available</em></li>
    {% endfor %}
  </ul>
{% endblock %}