<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>{% block title %}{% endblock %}</title>
</head>
<body>
  <div id="content">
    {% block messages %}
      {% if messages %}
        <ul class="messages">
          {% for message in messages %}
            <li{% if message.tags %}class="{{ message.tags }}"{% endif %}>{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endblock %}
    {% block content %}{% endblock %}
  </div>
</body>
</html>